[submodule "testvectors/cddl/draft-psa-token"]
	path = testvectors/cddl/draft-psa-token
	url = https://github.com/thomas-fossati/draft-psa-token
[submodule "veraison/services"]
	path = veraison/services
	url = https://github.com/kentakayama/services
	branch = tmp-ref-eat-relative
[submodule "testvectors/cddl/eat"]
	path = testvectors/cddl/eat
	url = https://github.com/ietf-rats-wg/eat
[submodule "testvectors/cddl/draft-ietf-rats-corim"]
	path = testvectors/cddl/draft-ietf-rats-corim
	url = https://github.com/ietf-rats-wg/draft-ietf-rats-corim
[submodule "testvectors/cddl/draft-psa-token"]
	path = testvectors/cddl/draft-psa-token
	url = https://github.com/thomas-fossati/draft-psa-token
[submodule "AttesTAM"]
	path = AttesTAM
	url = https://github.com/kentakayama/AttesTAM
[submodule "taws"]
	path = taws
	url = https://github.com/yuma-nishi/taws
