services:
  container_tam:
    build: ./tam
    environment:
      - TAM4WASM_CHALLENGE_SERVER=https://host.docker.internal:8443
      - TAM4WASM_CHALLENGE_CONTENT_TYPE=application/psa-attestation-token
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - tam-attester-net

  container_attester:
    build: ./attester
    environment:
      - TAM_URL=http://container_tam:8080/tam
    command: >
      sh -c "sleep 1 && teep_wasm_get install app.wasm"
    depends_on:
      - container_tam
    networks:
      - tam-attester-net


networks:
  tam-attester-net:
    driver: bridge
