services:
  container_tam:
    build: ./tam
    networks:
      - tam-attester-net
      - veraison-net

  container_attester:
    build: ./attester
    environment:
      TAM_URL: http://container_tam:8080
    command: >
      sh -c "sleep 1 && teep_wasm_get install app.wasm"
    depends_on:
      - container_tam
    networks:
      - tam-attester-net


networks:
  tam-attester-net:
    driver: bridge
  veraison-net:
    external: true
